{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Kyle's Portfolio</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/bulma.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/portfolio.css' %}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli">
</head>

<body class="body">
    <div>
        <nav class="navbar nav-fixed-top">
            <div class="navbar-brand ">
                <a class="navbar-item " href="/">
                        <span class="icon is-large navbaritem">
                            <i class="fa fa-home"></i>
                        </span>
                    </a>
                <a class="navbar-item" href="/about/">
                        <p class="navbaritem">About Me</p>
                                <span class="icon is-medium navbaritem">
                                    <i class="fa fa-info-circle"></i>
                                </span>
                        </a>
                <a class="navbar-item" href="/resume/">
                    <p class="navbaritem">Resume</p>
                            <span class="icon is-medium navbaritem">
                                <i class="fa fa-id-card"></i>
                            </span>
                    </a>
                <a class="navbar-item" href="/projects/">
                    <p class="navbaritem">Projects</p>
                            <span class="icon is-medium navbaritem">
                                <i class="fa fa-code "></i>
                            </span>
                    </a>
                <a class="navbar-item" href="/blog/">
                    <p class="navbaritem">Blog</p>
                            <span class="icon is-medium navbaritem">
                                <i class="fa fa-commenting"></i>
                            </span>
                    </a>
                <div class="navbar-burger burger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </nav>
    </div>
    <div class="flexgrow" style="padding: 65px">
        {% block content %} {% endblock %}
    </div>
    <div class="footer">
        <p><strong>Kyle Collins</strong></p>
        <p>
            Email: kync30@gmail.com
            <span class="icon is-small">
                    <i class="fa fa-envelope-o"></i>
            </span>
        </p>
        <p>
            <a href="https://www.linkedin.com/in/collins-kyle">
                LinkedIn
                <span class="icon is-small">
                        <i class="fa fa-linkedin"></i>
                </span>
            </a>
            <a href="https://bitbucket.org/KyleCollins/">
                BitBucket
                <span class="icon is-small">
                        <i class="fa fa-github"></i>
                </span>
            </a>
            <a href="https://github.com/KyleCollins">
                GitHub
                <span class="icon is-small">
                        <i class="fa fa-bitbucket"></i>
                </span>
            </a>
        </p>
    </div>
</body>

</html>