{% extends "portfolio/header.html" %} {% block content %} {% load static %}

<section class="section header">
    <h1 class="header-text">Kyle Collins</h1>
    <h2 style="line-height: 3">Programmer Analyst for Norpac Foods Inc.</h2>
    <img id="profilepicture" src="{% static 'portfolio/images/photo.png' %}" alt="">
</section>

<section class="section">
    <div class="columns">
        <div class="column">
            <p><strong>Feel free to explore!</strong></p>
            <p>I've made various links to different projects I have created over the years. 
                Not all projects are shown, I have a few private projects that contain sensitive material.             
            </p> 
        </div>
        <div class="column">
            <p><strong>Need to Contact?</strong></p>
            <p>Contact information is all provided below in the footer.</p>        
        </div>
        <div class="column">
            <p><strong>Plans for the website.</strong></p> 
            <p>I hope to continue working on this website when I get the chance. The main purpose is to learn new material and showcase my work.</p>
        </div>
    </div>
</section>

{% endblock content %}