{% extends "portfolio/header.html" %} {% block content %} {% load static %}

<section class="section header">
    <div class="image">
        <img id="resume" src="{% static 'portfolio/images/KyleCollins_Resume.png' %}" alt="Error loading resume">
    </div>
</section>

{% endblock content %}