/*Classes*/
.column{
    text-align: center;
    background-color: white;
    color: black;
    box-shadow: 0px 3px 2px 0 rgba(0, 0, 0, 0.50);
    position: relative;
    margin: 20px;
}

.column:before {
    content:'';
    position:absolute;
    width:100%;
    height:10px;
    background:linear-gradient(to right, green 0%, #004D1B 100%);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    top:-10px;
    left:0;
}

.tile-background-green{
    background-color: white;
    color: green;
}

.footer{
    height: 1%;
    background-color: whitesmoke;
    margin-top: 50px;
    -webkit-align-content: center;
    align-content: center;
    text-align: center;
}

.flexgrow{
    flex-grow: 1;
}

.header{
    background-color: white;
    text-align: center;
}

.header-text{
    font-size: 3rem;
    font-weight: 600;
}


.navbaritem{
    margin-right: 10px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5)
}

.nav-fixed-top{
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}

/*Existing*/
html, body, #full {
    height: 100%;
  }

body{
    font-family: 'Muli', sans-serif;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    line-height: 1.5;
}


/*Id*/
#profilepicture{
    margin: 10px;
    position: relative;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#resume{
    margin: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}