{% extends "portfolio/header.html" %} {% block content %} {% load static %}

<section class="section">
        {% for post in object_list %}
        <section class="section">
                <div class="column">
                <h3>
                    <h1><strong>{{ post.date|date:"Y-m-d" }}</strong></h1>
                    <h3>{{post.title}}</h3>
                    <h4>{{post.body}}</h4>
                </h3>
            </div>
        </section>
    {% endfor %}
</section>


{% endblock content %}